body {
  font-family: 'Comfortaa', cursive;
  font-family: 'Inter', sans-serif;

  line-height: 1.22;

  color: $dark;
  background-color: $white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  font-family: $font;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  border: transparent;
  cursor: pointer;

  color: $white;
  background-color: transparent;
}
