.specs {
  background-image: url(../../img/specs-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -150px;
  min-height: 100vh;

  padding-top: 96px;
  padding-bottom: 80px;
}

.specs-up {
  display: flex;
  align-items: flex-end;
  gap: 84px;
  margin-bottom: 575px;

  &__img {
    width: 227px;
    z-index: 1;
  }
}

.specs-up-left {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;
  gap: 82px;

  &__text {
    font-weight: 400;
    font-size: 18px;

    color: $white;
  }

  &__span {
    display: block;
    width: 97px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin-left: -18px;
    transition: color 250ms linear;

    color: $white;
  }

  &__right {
    max-width: 88px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
  }

  &__btn {
    &:hover,
    &:focus {
      border-color: $green;
      transform: scale(1.05);

      .specs-up-left__svg {
        fill: $green;
      }

      .specs-up-left__span {
        color: $green;
      }
    }
  }
  &__svg {
    transition: fill 250ms linear;
    fill: $white;
    margin-top: 17px;
  }
}

.specs-up-center {
  max-width: 290px;

  &__text {
    font-weight: 400;
    font-size: 18px;

    color: $white;

    &::after {
      content: '';
      width: 100%;
      display: flex;
      margin-top: 30px;
      border: 1px solid $white;

      background-color: $white;
    }
  }
}

.specs-under {
  display: flex;
  align-items: center;
  &__title {
    font-family: $font;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.1;

    color: $white;
  }
}

.specs-under-list {
  position: relative;
  display: flex;
  margin-left: 162px;

  &::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    border: 1px solid $white;

    background-color: $white;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    border: 1px solid $white;

    background-color: $white;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.specs-second-list {
  &__text {
    font-weight: 700;
    font-size: 18px;

    color: $white;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
