.tree {
  position: relative;
  background-color: $dark;
  background-image: url();
  min-height: 180px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -34px;
    width: 100%;
    min-height: 456px;
    background-image: url(../img/header-under.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -130px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 456px;
    background-image: url(../img/header-up.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -26px;
  }
}
